// Default variable overrides
$primary: #f56040;
$dark: #233d4c;
$light: #f4f5f7;
$success: #619c8a;
$danger: #ff4136;
$body-color: #233d4c;

$navbar-nav-link-padding-x: 1.25rem;

$btn-font-size: 14px;
$btn-font-weight: 500;
$btn-line-height: 24px;
$btn-padding-y: 0.33rem;
$btn-padding-x: 1rem;
$btn-link-color: white;

$navbar-default-link-active-bg: red;

$font-sizes: (
  1: 2.5rem,
  2: 2rem,
  3: 1.75rem,
  4: 1.5rem,
  5: 1rem,
  6: 0.9375rem,
  7: 0.875rem,
  8: 0.8125rem,
  9: 0.75rem,
  10: 0.6875rem
);

$input-font-size: 12px;
$input-font-weight: 500;

@import "../node_modules/bootstrap/scss/bootstrap";